<div class="formulario">
    <div class="form-group">
        <label for="nombre"> Nombre: </label>
        <input type="text" [(ngModel)] = "nuevoProducto.nombre">
    </div>
    <div class="form-group">
        <label for="cantidad" > Cantidad: </label>
        <input type="number" min="1" step="1"  [(ngModel)] = "nuevoProducto.cantidad">
    </div>
    <div class="form-group">
        <label for="departamento"> Departamento: </label>
        <select [(ngModel)] = "nuevoProducto.departamento">
            <option value="carniceria">carniceria</option>
            <option value="fruteria">fruteria</option>
            <option value="hogar">hogar</option>
            <option value="panaderia">panaderia</option>
        </select>
    </div>
    <button (click)="onClickEnviar()">Enviar</button>
</div>